<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="test"><h1>Esmée</h1>
    <div  id="myDiv" class="dropdown">
    <img class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="toggleDiv()"src="assets/47zazia/zazia.jpg" alt="">
      <ul class="dropdown-menu">
        <em class="text-center">Esmée est une jeune artiste contemporaine française. Autodidacte, elle a commencé à peindre très jeune, y trouvant un moyen d’expression à part. Elle peignait son histoire, ses émotions les plus brutes et les plus complexes. 

          Elle a longtemps gardé ses œuvres privées, ouvrant un peu plus son monde au fil du temps, à un petit cercle restreint, accueillant progressivement de nouvelles connexions, de nouveaux apprentissages.
          
          « Après quelques années à avoir été sollicitée pour partager mon travail, j’aimerais remercier tout ce qui m’a amené ici. ».
          
          Véritable moyen d’introspection, elle étendît son art à son sens de l’observation, principalement inspirée par la nature qui nous entoure et la complexité humaine, faisant de son univers un espace tant intense que méditatif pour qui le veut bien.
          
          Nous vous invitons tout simplement à votre propre voyage.
        </em>
      </ul>
    </div>
  </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/47zazia/carousel_1.png" class="d-block w-100" alt="...">
      </div>
      <img src="assets/Esmé logo vecto blanc.png" width="60px" height="40px" class= "sign">
      <div class="carousel-item">
        <img src="assets/47zazia/carousel_2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/47zazia/carousel_3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="video-container">
      <video id="my-video" loop muted>
        <source src="assets/47zazia/Desert(1).mp4" type="video/mp4">
        Votre navigateur ne prend pas en charge la lecture de vidéos.
    </video>
    <video id="my-video1" loop muted>
      <source src="assets/47zazia/Desert.mp4" type="video/mp4">
      Votre navigateur ne prend pas en charge la lecture de vidéos.
  </video>
  <video id="my-video2" loop muted>
    <source src="assets/47zazia/Desert(2).mp4" type="video/mp4">
    Votre navigateur ne prend pas en charge la lecture de vidéos.
</video>
    </div>
  </div>