<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="test">
  </div>

    <div class="carousel-inner" #carousel >
      <div class="carousel-item">
        <img src="../../assets/Slider.png" class="d-block w-100" alt="...">
      </div>
      <img src="assets/Esmé logo vecto blanc.png" width="60px" height="40px" class= "sign">
      <div class="carousel-item active">
        <img src="../../assets/Design sans titre(5).png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Slider1.png"  class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="presentation">
    <p class="text-center"><em>Le plus bel art se trouve tout autour de nous.</em></p>
    </div>
    </div>