
.carousel{
    margin: 5%;
    .carousel-inner{
        box-sizing: border-box;
        border: 4px solid white;
        transition: all 0.1s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .carousel-inner:hover{
        box-shadow: none;
        transition: all 0.3s;
        transform: scale(0.98);
     
        
    }
    .carousel-item{
    img{
      box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
    }
    img:hover{
        cursor: pointer;
        transition: all 0.3s;
    }
}
}
p{
    font-size: 24px;
    margin: auto;
    padding-top: 3%;
}
button{
    background: #276e9e;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
button:hover{
    background: #1a4b6b;
    transition: all 0.3s ease-in-out;
}
.presentation{
    cursor: pointer;
}
.test{
    h1{
        font-size: 42px;
        color: black;
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
    }

    text-align: center;
    position: absolute; /* Définissez la largeur souhaitée pour votre conteneur */ /* Définissez la hauteur souhaitée pour votre conteneur */
    //overflow: auto; /* Permet le défilement si le contenu est plus grand que la hauteur définie */
    border-radius: 6px; /* Ajoutez une bordure pour plus de clarté */
    z-index: 2;
    left: 15px;
    top: 0px;
    width: 28%;
    height: 33%;
    transition: 0.5s ease-in-out;
    img{
        cursor: pointer;
        border-radius: 50%;
        width: 8vw;
        border:  solid 2px white;
        height: 8vw;
        transition: 0.5s ease-in-out;
        filter: blur(2px);
        padding: 3px;
        margin: 3px;
    }
    img:hover{
        filter: blur(0px);
        transition: 0.5s ease-in-out;
        }
    
}
.sign{
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
}

@media(max-width:1200px){
    .test{
        border: 0px solid transparent;
        background-color: rgba($color: rgb(56, 70, 134), $alpha: 0);
    }
    .test:hover{
        background-color: rgba($color: rgb(56, 70, 134), $alpha: 0);
    }
     .carousel{
        margin-top: 10%;
    }
}
@media(max-width: 800px){
    .sign{
        width: 40px;
        height: 25px;
    }
.test{
   img{
    filter: blur(0px);
    height: 10vw;
    width: 10vw;
   }
}
   .test{
    h1{
        font-size: 25px;
    }
    p{
        display: none;
    }
   }
   .carousel{
    margin-top: 15%;
}
}
   @media(max-width: 500px){
   .carousel{
    margin-top: 20%;
}
   }

