<div>
    <h2>Liste des Clients</h2>
    <ul>
      <li *ngFor="let client of clients">
        <h3>Username:{{client.clientname}}</h3>
        <p>Email:{{ client.email }}</p>
        <p>ID Client:{{ client.id }}</p>
        <button (click)="selectClient(client)">Modifier</button>
        <button (click)="deleteClient(client.id)">Supprimer</button>
      </li>
    </ul>
  </div>
  <div>
    <h2>Client sélectionné</h2>
    <form>
      <label>Nom: </label>
      <input [(ngModel)]="selectedClient.clientname" />
      <button (click)="saveClient()">Enregistrer</button>
    </form>
  </div>