
body{
    color: white;
    background-image: linear-gradient(to bottom, rgb(16, 47, 68) 0%, #000000 100%);
    padding-top: 5%;
}
h1{text-align: center;}

form{
  display: grid;
  padding: 1%;
border: 3px solid white;
  width: 30%;
  margin-bottom: 2%;
}

img{
  height: 332px;
  width: 208px;
}
h1{
  background: white;
  color:rgb(16, 47, 68) ;
}
ul{
  width: 50%;
  display: flex;
}
h2{
  background: rgb(216, 214, 214);
  color:rgb(26, 73, 104) ;
}