<body>
  <h1>Collections</h1>
  <ul class="collection">
    <li *ngFor="let collection of collections" [ngClass]="getCollectionCssClass(collection.nom)">
     <h2> {{ collection.nom }} <button (click)="deleteCollection(collection.id)">Supprimer</button>
      <a [routerLink]="['/collections', collection.id]">Détails</a></h2>
      <ul class="item">
        <li *ngFor="let tableau of collection.tableaux">  
          <div class="carte">
          <img [src]="tableau.image" alt="">
          <h3>{{ tableau.nom }}</h3>
          <hr>
       <li>Prix: {{ tableau.prix }}</li>
        <li>Taille: {{ tableau.taille }}</li>
        <li> Collection: {{collection.nom}}</li>
          <button (click)="deleteTableau(tableau.id)">Supprimer</button>
          <a [routerLink]="['/tableaux', tableau.id]">Détails</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</body>