table{
    background: rgb(16, 47, 68);
    th{
        background: rgb(5, 14, 20); 
        color: white;
    }
    tr{
        color: white;
        background: rgb(11, 33, 48);
    }
    td{
        background: rgb(30, 86, 124);
        color: white;
    }
}
h1{
    padding-top: 5%;
    text-align: center;
}
body{
    overflow: hidden;
    color: white;
    background-image: linear-gradient(to bottom, rgb(16, 47, 68) 0%, #000000 100%);
    height: 100vh;
}