<body>
  <h1>Collections</h1>
  <ul class="collection">
    <li *ngFor="let collection of collections">
     <h2> {{ collection.nom }} <button (click)="deleteCollection(collection.id)">Supprimer</button>
      <a [routerLink]="['/collections', collection.id]">Détails</a></h2>

      <ul>
        <li *ngFor="let tableau of collection.tableaux">
          {{ tableau.nom }}
          <img [src]="tableau.image" alt="">
          {{ tableau.description }}
          {{ tableau.prix }}
          {{ tableau.taille }}
          {{collection.nom}}
          <button (click)="deleteTableau(tableau.id)">Supprimer</button>
          <a [routerLink]="['/tableaux', tableau.id]">Détails</a>
        </li>
      </ul>
    </li>
  </ul>
  <h1>Tableau Interface</h1>
  <div>
    <h2>Ajouter une nouvelle collection</h2>
    <form [formGroup]="newCollectionForm" (ngSubmit)="addCollection()">
      <label>Nom: </label>
      <input formControlName="nom" />
      <label>Description: </label>
      <input formControlName="description" />
      <button type="submit">Ajouter</button>
    </form>
  </div>
  

  <div *ngFor="let collection of collections">
    <h2>{{ collection.nom }}</h2>
    <p>Description: {{ collection.description }}</p>
    <div>
      <h4>Mettre à jour la collection</h4>
      <form [formGroup]="updatedCollectionForm" (ngSubmit)="updateCollection(collection.id)">
        <label>Nouveau nom: </label>
        <input formControlName="nom" />
        <label>Nouvelle description: </label>
        <input formControlName="description" />
        <button type="submit">Mettre à jour</button>
      </form>
    </div>
    <div>
      <h4>Ajouter un tableau</h4>
      <form [formGroup]="newTableauForm" (ngSubmit)="addTableauToCollection(collection.id)">
        <label>Nom du tableau: </label>
        <input formControlName="nom" />
        <label>Description: </label>
        <input formControlName="description" />
        <label>Prix: </label>
        <input formControlName="prix" />
        <label>Taille: </label>
        <input formControlName="taille" />
        <label>Image: </label>
        <input formControlName="image" />
        <button type="submit">Ajouter le tableau</button>
      </form>
    </div>
  </div>
</body>