<main id="presentation">
<h1>Status</h1>
<div>
<img src="https://i.imgur.com/cOg1KFt.png" height="60px" width="60px" alt=""> Artiste peintre professionnel
</div>
<h2>Biographie</h2>
<p>

    Esmée est une jeune artiste contemporaine française. Autodidacte, elle a commencé à peindre très jeune, y trouvant un moyen d’expression à part. Elle peignait son histoire, ses émotions les plus brutes et les plus complexes. 
    
    Elle a longtemps gardé ses œuvres privées, ouvrant un peu plus son monde au fil du temps, à un petit cercle restreint, accueillant progressivement de nouvelles connexions, de nouveaux apprentissages.
    
    « Après quelques années à avoir été sollicitée pour partager mon travail, j’aimerais remercier tout ce qui m’a amené ici. ».
    
    Véritable moyen d’introspection, elle étendît son art à son sens de l’observation, principalement inspirée par la nature qui nous entoure et la complexité humaine, faisant de son univers un espace tant intense que méditatif pour qui le veut bien.
    
    Nous vous invitons tout simplement à votre propre voyage.
    </p>
    <ul><li> <em>Nationalité:</em> FRANCE fr </li>
    <li><em>Date de naissance :</em> 1997 </li>
<li><em>Domaines artistiques:</em> Oeuvres d’artistes professionnels, </li>
<li><em>Groupes:</em> Artiste contemporaine</li></ul>
</main>