<div class="scroll-container" id="vertical">
  <h2 class="section-title">Bleu Profond<span class="material-symbols-outlined humidity">humidity_high
    </span></h2>
  <div class="scroll-item">
    <img src="https://i.imgur.com/UoCcj3o.jpg" alt="">
    <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
      nom: 'ABYSSE #2.2',
      prix: 0,
      image: 'https://i.imgur.com/UoCcj3o.jpg',
      description: 'Acrylique sur toile(coton), Taille: 55 x 46 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">ABYSSE #2.2</p>
      <li><em>Acrylique sur toile(coton)</em></li>
      <li>Taille: 55 x 46 cm</li>
    <li id="sold"><p class="title" >VENDU</p></li>
    </ul>
  </div>
  <div class="scroll-item">
    <img src="https://i.imgur.com/Yf8jitm.jpg" alt="">
    <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
      nom: 'POWER',
      prix: 1821,
      image: 'https://i.imgur.com/Yf8jitm.jpg',
      description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\n.'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">Power</p>
      <li><em>Acrylique sur toile(coton)</em></li>
      <li>Taille: 55 x 46 cm</li>
    <li><p class="title">496$</p></li>
    </ul>
  </div>
  <div class="scroll-item">
    <img src="../../assets/vertical4.png" alt="">
    <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
      nom: 'DANSE',
      prix: 603,
      image: 'https://i.imgur.com/3ixHjQh.png',
      description: 'Techniques mixtes sur toile (coton)\r\n61 x 50 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">Danse</p>
      <li><em>Acrylique sur toile (lin)</em></li>
      <li>Taille: 61 x 50 cm</li>
    <li><p class="title">603$</p></li>
    </ul>
  </div>
  <div class="scroll-item">
    <img src="../../assets/vertical2.png" alt="">
    <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
      nom: 'ABYSSE #1',
      prix: 0,
      image:'https://i.imgur.com/zXEDgYY.png',
      description: 'Techniques mixtes(lin), Taille: 81 x 65 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">ABYSSE #1</p>
      <li><em>Techniques mixtes(lin)</em></li>
      <li>Taille: 81 x 65 cm</li>
    <li id="sold"><p class="title">Vendu</p></li>
    </ul>
  </div>
    <div class="scroll-item">
      <img src="../../assets/vertical.png" alt="">
      <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
        nom: 'DANSE',
        prix: 603,
        image: 'https://i.imgur.com/3ixHjQh.png',
        description: 'Techniques mixtes sur toile (coton)\r\n61 x 50 cm'
      })">
          heart_plus
          </span>
      <ul>
        <p class="title">Danse</p>
        <li><em>Acrylique sur toile (lin)</em></li>
        <li>Taille: 61 x 50 cm</li>
      <li><p class="title">603$</p></li>
      </ul>
    </div>
    <div class="scroll-item">
      <img src="../../assets/vertical3.png" alt="">
      <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
        nom: 'DANSE',
        prix: 603,
        image: 'https://i.imgur.com/3ixHjQh.png',
        description: 'Techniques mixtes sur toile (coton)\r\n61 x 50 cm'
      })">
          heart_plus
          </span>
      <ul>
        <p class="title">Danse</p>
        <li><em>Acrylique sur toile (lin)</em></li>
        <li>Taille: 61 x 50 cm</li>
      <li><p class="title">603$</p></li>
      </ul>
    </div>
</div>
<br>
<div class="scroll-container" id="hor">
  <h2 class="section-title" >Terres Brûlées<span class="material-symbols-outlined landscape">
        filter_hdr
    </span></h2>
    <div class="scroll-item" >
        <img src="https://i.imgur.com/gRpcfsZ.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2.2',
          prix: 00,
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2.2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title" id="sold">VENDU</p></li>
        </ul>
      </div>
      <div class="scroll-item"> 
        <img src="https://i.imgur.com/CSnzE9C.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'AIR DE TERRE',
          prix: 703,
          description: 'Acrylique sur toile(lin)\r\n61 x 50 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">AIR DE TERRE</p>
          <li>Acrylique sur toile(lin)</li>
          <li>Taille: 61 x 50 cm</li>
        <li><p class="title">703$</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/ovs01ux.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'Clair de Lune',
          prix: 218,
          description: 'Acrylique sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">Clair de Lune</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">218$ (à revoir)</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/OLS3HMA.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2',
          prix: 530,
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">530$</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="../../assets/IMG_2022.jpeg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'TERRE BRULANTE',
          prix: 1821,
          description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\nUn mur de pierre ardente, la terre\r\nbrûlante,\r\nL\'eau apaisante, si près, inaccessible.\r\nLa chaleur nous écrase, prison\r\nsuffocante,\r\nEt la terre se rit de notre tourment'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">TERRE BRULANTE</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">1821$</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/IJ9mb6C.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'MARS',
          prix: 218,
          description: 'Techniques mixtes sur toile (coton)\r\n41 x 333 cm\r\n'
        })">
            heart_plus
            </span>
    <ul>
      <p class="title">MARS</p>
      <li>Acrylique sur toile(lin)</li>
      <li>Taille: 41 x 33 cm</li>
    <li><p class="title">218$</p></li>
    </ul>
      </div>
  </div>
  <br>
<div class="scroll-container" id="hor">
  <h2 class="section-title" >Lune Spectrale<span class="material-symbols-outlined moon">nightlight
    </span></h2>
    <div class="scroll-item" >
        <img src="../../assets/horizontal.png" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2.2',
          prix: 00,
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2.2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title" id="sold">VENDU</p></li>
        </ul>
      </div>
      <div class="scroll-item"> 
        <img src="../../assets/horizontal1.png" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'AIR DE TERRE',
          prix: 703,
          description: 'Acrylique sur toile(lin)\r\n61 x 50 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">AIR DE TERRE</p>
          <li>Acrylique sur toile(lin)</li>
          <li>Taille: 61 x 50 cm</li>
        <li><p class="title">703$</p></li>
        </ul>
      </div>
   
      <div class="scroll-item">
        <img src="../../assets/vertical(1).png" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'DANSE',
          prix: 603,
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
    <ul>
      <p class="title">DANSE</p>
      <li>Acrylique sur toile(coton)</li>
      <li>Taille: 55 x 46 cm</li>
    <li><p class="title">603$</p></li>
    </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/ovs01ux.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'Clair de Lune',
          prix: 218,
          description: 'Acrylique sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">Clair de Lune</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">218$ (à revoir)</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/OLS3HMA.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2',
          prix: 530,
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">530$</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="../../assets/IMG_2022.jpeg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'TERRE BRULANTE',
          prix: 1821,
          description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\nUn mur de pierre ardente, la terre\r\nbrûlante,\r\nL\'eau apaisante, si près, inaccessible.\r\nLa chaleur nous écrase, prison\r\nsuffocante,\r\nEt la terre se rit de notre tourment'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">TERRE BRULANTE</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">1821$</p></li>
        </ul>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/IJ9mb6C.jpg" alt="">
        <span class="material-symbols-outlined heart"  (click)="ajouterAuBackend({
          nom: 'MARS',
          prix: 218,
          description: 'Techniques mixtes sur toile (coton)\r\n41 x 333 cm\r\n'
        })">
            heart_plus
            </span>
    <ul>
      <p class="title">MARS</p>
      <li>Acrylique sur toile(lin)</li>
      <li>Taille: 41 x 33 cm</li>
    <li><p class="title">218$</p></li>
    </ul>
      </div>
  </div>
