@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";



img{
  cursor: pointer;
  border-radius: 3px;
  
}


.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.material-symbols-outlined {
  color: #5092be;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.scroll-container{
  
  ul{
    list-style: none;
  }
.heart:hover {
  cursor: pointer;
  color: rgba(197, 7, 0, 0.97);
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
}
.landscape{
  color: brown;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.moon{
  color: purple;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.scroll-container {
  width: 100vw; 
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding: 3%; 
}
button{
  width: 100%;
  background: #5092be;
  border-radius:2px;
  padding: 2%;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}
button:hover{
  background: rgb(16, 47, 68) ;
  transition: all 0.3s ease-in-out;
}
#vertical{
  .scroll-item{
    background-image: linear-gradient(to bottom, rgb(16, 47, 68) 0%, #000000 100%);
  }
}
#hor{
  button{
    background: brown;
    transition: all 0.3s ease-in-out;
  }
  button:hover{
    background: rgb(88, 23, 23);
    transition: all 0.3s ease-in-out;
  }
  img{
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
  }
 
  .scroll-item{
    transition: all 0.3s;
    border: 2px solid brown;
    span{
      color: brown;
    }
    background-image: linear-gradient(to bottom, brown 0%, #000000 100%);
    width: 642px;
  }
}
#moon{
  button{
    background: purple;
    transition: all 0.3s ease-in-out;
  }
  button:hover{
    background: rgb(78, 0, 78);
    transition: all 0.3s ease-in-out;
  }
  span{
    color: purple;
  }
  .scroll-item{
    border: 2px solid purple;
    width: 600px;
    background-image: linear-gradient(to bottom, purple 0%, #000000 100%);
  }
}
.title{
  text-transform: uppercase;
  font-weight: bold;
}
.scroll-item {
  border-radius: 3px;
  border: 2px solid rgb(16, 47, 68);
  background-size: cover;
  display: inline-block; 
  width: 332px;
  margin-right: 20px; 
  padding: 10px;
  transition: all 0.3s;
  #sold{
    color:rgb(21, 153, 21)
  }
  hr{
    border: 2px solid white;
  }

}
.scroll-item:hover{
  transform: scale(1.030);
  transition: all 0.3s;
}
.page-title {
  font-size: var(--font-size-fluid-3);
}

span{
  font-size: 40px;

}
.page-subtitle {
  font-size: var(--font-size-fluid-1);
}
.scroll-container::-webkit-scrollbar {
  display: none;
}


@media(max-width: 1000px) {
  #vertical{
    .scroll-item{
      width: 293px;
    }
  }
  #hor,#moon{
    .scroll-item{
    width: 332px;
    }
  }
}