@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


#vertical{
img{
  border-radius: 3px;
  transition: all 0.3s;
}
img:hover{
  transform: scale(0.8);
  border: 2px solid white;
  transition: all 0.3s;
}

}

.scroll-container {
  width: 100vw; 
  overflow-x: auto; 
  white-space: nowrap;
  margin-left: 8px; 
}
#hor{
  img{
    border: 2px solid transparent;
    border-radius: 5px;
  }
  img:hover{
    border: 2px solid white;
  }
}
.title{
  text-transform: uppercase;
}
.scroll-item {
  button{
    transition: all 0.3s;
    background:#1c5377;
    
  }
  button:hover{
    transition: all 0.3s;
    background:#0f2c3f;

  }
  display: inline-block; 
  width: 332px;
  margin-right: 10px; 
  padding: 10px;
  #sold{
    color:rgb(21, 153, 21)
  }
  
  height: 208px; 
}
.page-title {
  font-size: var(--font-size-fluid-3);
}

span{
  cursor: pointer;
  font-size: 40px;

}
.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}
@media (max-width:1000px)
{

  .scroll-item{
    height: 400px; 
    width: 217px;
  }
  ul{
    li{

      font-size: 12px;
      
    }
  }
}