

<h2 class="section-title">Vertical</h2>
<div class="media-scroller snaps-inline" id="vertical">

  <div class="media-element">
    <img src="assets/47zazia/vertical (1).jpeg" alt="">
    <p class="title">Bleu profond</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/vertical (2).jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/White Simple Phone Wallpaper (332 x 612 px)(1).png" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/White Simple Phone Wallpaper (332 x 612 px).png" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/vertical (2).jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/vertical (2).jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/IMG_2016.jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/IMG_2017.jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/vertical (2).jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
  <div class="media-element">
    <img src="assets/47zazia/vertical (2).jpeg" alt="">
    <p class="title">A longer title here</p>
    <hr>
    <p class="title">750$</p>
  </div>
</div>

<h2 class="section-title">Horizontal</h2>
