@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";



img{
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
  
}
img:hover{
  transform: scale(1.05);
  transition: all 0.3s;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.material-symbols-outlined {
  color: #5092be;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.scroll-container{
  ul{
    list-style: none;
  }
.material-symbols-outlined:hover {
  cursor: pointer;
  color: rgba(197, 7, 0, 0.97);
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
}
.heart{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.scroll-container {
  width: 100vw; 
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 5%; 
}
#hor{
  img{
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
  }
}
.title{
  text-transform: uppercase;
}
.scroll-item {
  
  button{
    transition: all 0.3s;
    background:#1c5377;
    
  }
  button:hover{
    transition: all 0.3s;
    background:#0f2c3f;

  }
  display: inline-block; 
  width: 332px;
  margin-right: 10px; 
  padding: 10px;
  #sold{
    color:rgb(21, 153, 21)
  }
  
  height: 208px; 
}
.page-title {
  font-size: var(--font-size-fluid-3);
}

span{
  font-size: 40px;

}
.page-subtitle {
  font-size: var(--font-size-fluid-1);
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
