

<div class="scroll-container" id="vertical">
  <h2 class="section-title">Les plus populaires <span class="material-symbols-outlined heart">
    groups
    </span></h2>
  <div class="scroll-item">
    <img src="https://i.imgur.com/UoCcj3o.jpg" alt="">
    <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'ABYSSE #2.2',
      prix: 0,
      collection: 'Bleu Profond',
      description: 'Acrylique sur toile(coton), Taille: 55 x 46 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">ABYSSE #2.2</p>
      <li>Acrylique sur toile(coton)</li>
      <li>Taille: 55 x 46 cm</li>
    <li id="sold"><p class="title" >VENDU</p></li>
    </ul>
    <hr>
  </div>
  <div class="scroll-item">
    <img src="https://i.imgur.com/Yf8jitm.jpg" alt="">
    <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'POWER',
      prix: 1821,
      collection: 'LUNE SPECTRALE',
      description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\nUn mur de pierre ardente.'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">Power</p>
      <li>Acrylique sur toile(coton)</li>
      <li>Taille: 55 x 46 cm</li>
    <li><p class="title">496$</p></li>
    </ul>
    <hr>
  </div>
  <div class="scroll-item">
    <img src="https://i.imgur.com/zXEDgYY.png" alt="">
    <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'ABYSSE #1',
      prix: 0,
      collection: 'Bleu Profond',
      description: 'Techniques mixtes(lin), Taille: 81 x 65 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">ABYSSE #1</p>
      <li>Techniques mixtes(lin)</li>
      <li>Taille: 81 x 65 cm</li>
    <li id="sold"><p class="title">Vendu</p></li>
    </ul>
    <hr>
   
  </div>
  <div class="scroll-item">
    <img src="https://i.imgur.com/WCRRZYE.png" alt="">
    <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'Désert spéctral',
      prix: 00,
      collection: 'TERRE',
      description: 'Techniques mixtes sur toile (coton),Taille: 50 x 50 cm'
    })">
        heart_plus
        </span>
    <ul>
      <p class="title">Désert spéctral</p>
      <li>Techniques mixtes(coton)</li>
      <li>Taille: 50 x 50 cm</li>
    <li><p class="title">INCONNU $</p></li>
    </ul>
    <hr>
  </div>
  <div class="scroll-item">
    <img src="https://i.imgur.com/W6Ei25e.png" alt="">
    <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'CHUTES',
      prix: 750,
      collection: 'Bleu Profond',
      description: 'Techniques mixtes sur toile (coton), Taille: 73 x 60 cm'
    })">
        heart_plus
  </span>
    <ul>
      <p class="title">Chutes</p>
      <li>Techniques mixtes(coton)</li>
      <li>Taille: 73 x 60 cm</li>
    <li><p class="title">750$</p></li>
    </ul>
    <hr>
    </div>
    <div class="scroll-item">
      <img src="https://i.imgur.com/d2KbhYe.png" alt="">
     <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
      nom: 'TERRE BRULANTE',
      prix: 1821,
      collection: 'TERRE',
      description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\nUn mur de pierre ardente, la terre\r\nbrûlante,\r\nL\'eau apaisante, si près, inaccessible.\r\nLa chaleur nous écrase, prison\r\nsuffocante,\r\nEt la terre se rit de notre tourment'
    })">
        heart_plus
        </span>
      <ul>
        <p class="title">Terre brulante</p>
        <li>Techniques mixtes(coton)</li>
        <li>Taille: 113 x 81 cm</li>
      <li><p class="title">1 821$</p></li>
      </ul>
      <hr>
    </div>
    <div class="scroll-item">
      <img src="https://i.imgur.com/3ixHjQh.png" alt="">
      <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
        nom: 'DANSE',
        prix: 603,
        collection: 'TERRE',
        description: 'Techniques mixtes sur toile (coton)\r\n61 x 50 cm'
      })">
          heart_plus
          </span>
      <ul>
        <p class="title">Danse</p>
        <li>Acrylique sur toile (lin)</li>
        <li>Taille: 61 x 50 cm</li>
      <li><p class="title">603$</p></li>
      </ul>
      <hr>
    </div>
</div>
<div class="scroll-container" id="hor">
  <h2 class="section-title" >Coups de coeur <span class="material-symbols-outlined heart">
    favorite
    </span></h2>
    <div class="scroll-item" >
        <img src="https://i.imgur.com/gRpcfsZ.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2.2',
          prix: 00,
          collection: 'Bleu Profond',
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2.2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title" id="sold">VENDU</p></li>
        </ul>
        <hr>
      </div>
      <div class="scroll-item"> 
        <img src="https://i.imgur.com/CSnzE9C.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'AIR DE TERRE',
          prix: 703,
          collection: 'TERRE',
          description: 'Acrylique sur toile(lin)\r\n61 x 50 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">AIR DE TERRE</p>
          <li>Acrylique sur toile(lin)</li>
          <li>Taille: 61 x 50 cm</li>
        <li><p class="title">703$</p></li>
        </ul>
        <hr>
      </div>
   
      <div class="scroll-item">
        <img src="https://i.imgur.com/Nnt2EZN.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'DANSE',
          prix: 603,
          collection: 'TERRE',
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
    <ul>
      <p class="title">DANSE</p>
      <li>Acrylique sur toile(coton)</li>
      <li>Taille: 55 x 46 cm</li>
    <li><p class="title">603$</p></li>
    </ul>
    <hr>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/ovs01ux.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'Clair de Lune',
          prix: 218,
          collection: 'Lune spéctrale',
          description: 'Acrylique sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">Clair de Lune</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">218$ (à revoir)</p></li>
        </ul>
        <hr>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/OLS3HMA.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'ABYSSE #2',
          prix: 530,
          collection: 'Bleu Profond',
          description: 'Techniques mixtes sur toile (coton)\r\n55 x 46 cm\r\n'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">ABYSSE #2</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">530$</p></li>
        </ul>
        <hr>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/3q3BRNy.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'TERRE BRULANTE',
          prix: 1821,
          collection: 'TERRE',
          description: 'Techniques mixtes sur toile (coton)\r\n113 x 81 cm\r\nUn mur de pierre ardente, la terre\r\nbrûlante,\r\nL\'eau apaisante, si près, inaccessible.\r\nLa chaleur nous écrase, prison\r\nsuffocante,\r\nEt la terre se rit de notre tourment'
        })">
            heart_plus
            </span>
        <ul>
          <p class="title">TERRE BRULANTE</p>
          <li>Acrylique sur toile(coton)</li>
          <li>Taille: 55 x 46 cm</li>
        <li><p class="title">1821$</p></li>
        </ul>
        <hr>
      </div>
      <div class="scroll-item">
        <img src="https://i.imgur.com/IJ9mb6C.jpg" alt="">
        <span class="material-symbols-outlined"  (click)="ajouterAuBackend({
          nom: 'MARS',
          prix: 218,
          collection: 'TERRE',
          description: 'Techniques mixtes sur toile (coton)\r\n41 x 333 cm\r\n'
        })">
            heart_plus
            </span>
       
        
    <ul>
      <p class="title">MARS</p>
      <li>Acrylique sur toile(lin)</li>
      <li>Taille: 41 x 33 cm</li>
    <li><p class="title">218$</p></li>
    </ul>
    <hr>
      </div>
  </div>
