<div class="scroll-container">
    <div class="scroll-item">
        <img src="assets/47zazia/IMG_2013.jpeg" alt="">
        <p class="title">Bleu profond</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_2023.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
   
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_2028.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_2029.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_0187.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_1990.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_1992.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_2033.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
      <div class="scroll-item">
        <img src="assets/47zazia/IMG_2034.jpeg" alt="">
        <p class="title">A longer title here</p>
        <hr>
        <p class="title">750$</p>
      </div>
  </div>