/*@font-face{
    font-family: Avenir;
    src: url(./assets/AvenirLTStd-Black.otf) format('truetype');
}*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400;500&family=Sen:wght@600;800&display=swap');
*{
    /*font-family: Avenir;*/
    font-family: 'Sen';
}
