<body>
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <video id="my-video" loop muted>
                <source src="assets/47zazia/Black Blue Neon Abstract Color Mobile Video Background (272 x 156 px).mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
          </div>
          <div class="col" id="col">
            <video id="my-video1" loop muted>
                <source src="assets/47zazia/Desert.mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
          </div>
          <div class="col" id="col1">
            <video id="my-video2" loop muted>
                <source src="assets/47zazia/Black White Abstract Color and Style Video Background (280 x 160 px).mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
          </div>
        </div>
      </div> 
      <div class="container-fluid" id="container-fluid">
        <div class="row g-0 mx-auto">
            <h3>Recommended for you</h3>
          <div class="col">
            <img src="assets/47zazia/IMG_2031.jpeg" alt="">
          </div>
          <div class="col">
            <img src="assets/47zazia/IMG_2012.jpeg" alt="">
          </div>
          <div class="col">
            <img src="assets/47zazia/IMG_2023.jpeg" alt="">
          </div>
          <div class="col">
            <img src="assets/47zazia/IMG_2034.jpeg" alt="">
          </div>
        </div>
      </div> 
      <div class="container-fluid" id="vertical" >

        <div class="row no-gutters mx-auto">
            <h3>Recommended for you</h3>
          <div class="col">
            <img src="assets/47zazia/vertical (1).jpeg" alt="vertical-1" border="0">
          </div>
          <div class="col">
            <img class="db_tableau" src="assets/47zazia/doubletableau.jpeg" alt="">
          </div>
          <div class="col">
            <img src="assets/47zazia/doubletableau2.jpeg" class="db_tableau" alt="" >
          </div>
          <div class="col">
            <img src="assets/47zazia/vertical (2).jpeg" alt="">
          </div>
        </div>
      </div> 
</body>
